body {
  background-image: url("img/stupa_borobudur.jpg");
}

div {
  width: 766px;
  height: 370px;
  border: 2px solid black;
  background-color: white;
  background-image: url("img/avocado.jpg");
  background-repeat: repeat-y;
  background-position: left 8px;
  background-size: 295px 220px;
  overflow: scroll;
  padding: 10px 10px;
  margin-bottom: : 10%;
}

.satu {
  text-align: right;
  font-size: 19px;
  font-weight: bold;
  color: blue;
}

.dua {
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  color: green;
}

.tiga {
  text-align: right;
  font-size: 19px;
  font-weight: bold;
  color: red;
}
